.treatment {
    margin: 0 auto;
    width: 90%;
    background-color: whitesmoke;
}

.treatment figure {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.treatment img {
    margin: 0 auto;
    max-width: 400px;
}

.treatment h2 {
    font-size: 2em;
    margin: 1rem 3rem;
    text-align: center;
    padding: 0.5em;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
    border-bottom: solid 3px #5b71b3;
    border-top: solid 10px whitesmoke;
    /*下線*/
}

.treatment h3 {
    margin: 1rem 3.6rem;
    font-size: 1.4em;
    color: #505050;
    /*文字色*/
    padding: 0.5em;
    /*文字周りの余白*/
    display: inline-block;
    /*おまじない*/
    line-height: 1.3;
    /*行高*/
    background: #dbebf8;
    /*背景色*/
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;
    /*左側の角を丸く*/
}

.treatment h4 {
    margin: 1rem 3.6rem;
    font-size: 1.4em;
    text-align: center;
}

.treatment h3:before {
    content: '●';
    color: white;
    margin-right: 8px;
}

.treatment p {
    margin: 0 auto;
    width: 80%;
    line-height: 1.6em;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}